/* title page-book before les260 */
#lesson250 {
	display:none;
}
/*
#lesson250 .page-book,
#lesson250 .page-chapter {
	position:absolute;
	top:0; left:0;
	width:100%; height:667px;
	padding:15px;
}
*/

#lesson260 {
	display:none;
}

#lesson260 .bg {
	position:absolute;
	top:110px; left:0px;
	text-align:left;
	width:1016px; height:558px;
	overflow:hidden;
}

#lesson260 .bg img.floor {
	position:absolute;
	top:-162px; left:0;
}
#lesson260 .bg img.people {
	position:absolute;
	top:107px; right:77px;
	width:700px;
}
#lesson260 .bg img.board {
	position:absolute;
	top:11px; left:439px;
	width:569px; height:449px;
}
#lesson260 .bg img.scr {
	position:absolute;
	top:71px; left:493px;
	width:464px; height:261px;
}

#lesson260 .bg img.is_sue {
	position:absolute;
	top:31px; left:201px;
	height:530px;
}

#lesson260 .bg img.is_sam {
	position:absolute;
	top:44px; left:217px;
	height:506px;
}

#lesson260 .bg div.intro {
	position:absolute;
	top:30px; left:15px;
	width:236px;
}

#lesson260 .bg div.block1 {
	position:absolute;
	top:74px; left:510px;
	width:434px;
}
#lesson260 .bg div.block1 h2 {
	font-weight:bold;
	color:#65b8c0;
}

/* tips */
#lesson261 {
	display:none;
}

#lesson261 .bg {
	position:absolute;
	left:0px; top:110px;
	text-align:left;
	width:1016px; height:558px;
	overflow:hidden;
}

#lesson261 .bg img.is_sue {
	position:absolute;
	top:76px; left:0px;
	height:434px;
}

#lesson261 .bg img.is_sam {
	position:absolute;
	top:89px; left:0px;
	height:423px;
}

#lesson261 .bg .lbub {
	position:absolute;
	top:11px; left:79px;
}
#lesson261 .bg .lbub img {
	position:absolute;
	top:0; left:0;
	width:161px; height:139px;
	opacity:0.5;
}
#lesson261 .bg .lbub p {
	position:relative;
	display:block;
	width:162px;
	padding:25px 15px;
	font-size:16px;
	line-height:21px;
	text-align:center;
}

#lesson261 div.tips {
	position:relative;
	background-color:transparent;
	width:835px;
	margin-left:172px;
}

#lesson261 div.tips .slick-slide .item-l {
	height:390px;
}
#lesson261 div.tips .slick-slide .item-r {
	height:510px;
}

#lesson261 div.tips-slider {
	padding:0 95px 0 95px;
	background-color:transparent;
	margin-top:10px;
}

#lesson261 .tips-item  {
	position:relative;
	height:510px;
	background-color: #f1f1f1;
	overflow: hidden;
}

#lesson261 .tips-item .txt {
	padding:9px 15px;
	line-height:1.5em;
}

#lesson261 div.tips .slidertip {
	top:10px; left:6px;
	transform:none;
}

#lesson261 div.tips h4 {
	margin-left:122px;
	color:#4e4e4e;
}
